section.blog
  .container
    .blog-header
      h2.global-heading.global-heading--big Our Regular Updated Blog Posts
      p.global-text tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque.
    .blog-list
      +blogItem("https://plus.unsplash.com/premium_photo-1661610784350-bb5d99531f58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", "Cool tip for newbie",  "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti*")
      +blogItem("https://plus.unsplash.com/premium_photo-1661440186801-eacd70181826?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", "Learning guitar notes",  "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti*")
      +blogItem("https://plus.unsplash.com/premium_photo-1664301857931-0db8043f94e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", "See our student performance",  "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti*")