section.brand
  .brand-item
    img(src="./images/brand-google.svg", alt="brandname")
  .brand-item
    img(src="./images/brand-google.svg", alt="brandname")
  .brand-item
    img(src="./images/brand-google.svg", alt="brandname")
  .brand-item
    img(src="./images/brand-google.svg", alt="brandname")
  .brand-item
    img(src="./images/brand-google.svg", alt="brandname") 