header.header
  .navigation
    img(srcset="./images/header_logo.webp 2x" class="header-logo")
    include ./menu
    span.toggle Menu
  .header-main.container
    .header-content
      span.global-caption CERTIFIED ACADEMY 
      h1.global-heading.global-heading--huge.header-heading LEARNING FROM THE BEST GUITARIST
      p.global-text.header-desc “Music is the one thing that has been consistently there for me. It hasn’t let me down.”
      .header-actions
        a.button.button--primary(href="#!") Get Started
        a.watch-video(href="#!")
          .watch-icon
            img(srcset="./images/icon-play.png 2x", alt="watchvideo")
          span Watch Video
    .header-image
      img(srcset="./images/banner.webp 2x", alt="guitarbanner")
