section.subscribe
  .container.subscribe-container
    .subscribe-main
      .subscribe-content
        h2.global-haeding.subscribe-heading Sign up to our academy
        p.global-text.subscribe-desc You need to get positive results when you spend hard time training your skill.
      .subscribe-form
        .subscribe-field
          input.subscribe-input(type="text" placeholder="Email...")
        button.button.button--primary Subscribe